name: Release

on:
    push:
        branches:
            - "+([0-9])?(.{+([0-9]),x}).x"
            - master
            - beta
            - alpha
    pull_request:
        branches:
            - "+([0-9])?(.{+([0-9]),x}).x"
            - master
            - beta
            - alpha

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v2
              with:
                  path: node_modules/
                  key: ${{ hashFiles('deps.txt') }}
            - uses: actions/cache@v2
              with:
                  path: dist/
                  key: ${{ github.sha }}
            - uses: actions/setup-node@v2
              with:
                  node-version: "14"

            - run: mkdir -p dist
            - run: echo app > dist/out

    test:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v2
              with:
                  path: node_modules/
                  key: ${{ hashFiles('deps.txt') }}
            - uses: actions/setup-node@v2
              with:
                  node-version: "14"

            - run: echo Test

    release:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v2
              with:
                  path: dist/
                  key: ${{ github.sha }}
            - uses: actions/setup-node@v2
              with:
                  node-version: "14"

            - run: cp .github/.releaserc.yml .
            - run: npx semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
